# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
